* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Catamaran',sans-serif;
    margin-top: 70px; 
}
//левый горизонт header#header {
#header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 1300px;
    margin: auto;
    display: flex; 
    z-index: 101;
    div {
        text-align: center;
    }
    .navbar-left {
        ul {
            display: flex;
            list-style: none;
            li {
                display: flex;
                position: relative;
                align-items: center;
                padding-left: 30px;
                height: 96px;
                .submenu {
                    i {
                        display: none;
                        transition: 0.5s;
                        padding-right: 5px;
                    }
                    a {
                        color: #a5a5a5;
                        transition: 0.5s;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                    }
                    a:hover i {
                        color: #fff !important;
                        display: inline-block;
                        transition: 0.5s;

                    }

                    li {
                        height: 30px;
                    }

                    transition: 0.5s;
                    display: flex;
                    position: absolute;
                    top: 100%;
                    width: 200px;
                    text-align: left;
                    opacity: 0;
                    height: 0px;
                    overflow: hidden;
                    background-color: #000;
                    z-index: 1;
                }

                ul {
                    padding: 10px !important;
                    display: block;
                }



            }

            li:hover .submenu {
                height: auto;
                opacity: 1;
                transition: 0.5s;

            }

            padding-left: 22px;

            a {
                color: #000;
                font-size: 12px;
                font-weight: 500;
                text-decoration: none;
                font-family: Catamaran, sans-serif;
                padding-left: -20px;
                transition: 0.5s;
            }

            a:hover {
                color: #929292;
                transition: 0.5s;
            }
        }



    }

}
//середина это где лого
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            cursor: pointer; 
        }
        img {
            padding: 10px;
            max-width: 50%;
            filter: invert(1);
        }
    }
}
//правый горизонт header
.menu-bar-left {
    display: flex;
    width: 100%;
    align-items: center;
    color: black;
    font-size: 12px;
    
    i {
        font-size: 12px; 
        margin-right:5px;
        padding-left: 15px;
    }
    span {
        margin-right: 10px;
      
    }
    .cart {
        margin-right: 10px; 
        
    }
}
//выпадающие окна cart
.dropdown-cart {
    position: relative;
    display: inline-block;
}
.dropdown-content-cart {
    display: none;
    position: absolute;
    top: calc(100% + 27px); 
    right: 0;
    width: 180px;
    background-color: black;
    min-width: 200px; 
    z-index: 1;
    color: white;
    padding: 20px;
}

.dropdown-cart:hover .dropdown-content-cart {
    display: block;
}

.trigger.cart {
    cursor: pointer;
}

//выпадающее окно меню бар
.dropdown-bars {
    position: relative;
    display: inline-block;

    .dropdown-content-bars {
        display: block; 
        position: absolute;
        top: calc(100% + 27px);  
        right: -102px; 
        background-color: black;
        width: 460px; 
        height: 490px;
        z-index: 1;
        text-align: center;
        padding: 10px 0;
        transform: translateX(100%); 
        transition: transform 0.3s ease-out; // плавный переход
        opacity: 0; // чтобы скрыть содержимое меню
         i {
            font-size: 18px;
            color: white;
         }
         p {
            color: white;
            font-size: 18px;
         }
    }

    &.active .dropdown-content-bars {
        transform: translateX(0); // окончательное положение меню
        opacity: 1;
    }
    .close-icon {
        position: absolute;
        top: 10px; 
        right: 10px; 
        cursor: pointer; 
    }
    
}
//выпадающее окно search
.dropdown-search {
    position: relative;
    display: inline-block;
}

.dropdown-search .trigger {
    cursor: pointer;
}

.dropdown-search input[type="checkbox"] {
    display: none;
}

.dropdown-content-search {
    display: none;
    position: absolute;
    top: calc(100% + 27px); 
    right: 0;
    width: 180px;
    background-color: black;
    min-width: 200px;
    z-index: 1;
    padding: 10px;
    border: 1px solid #ccc;
    
    input {
        width: 80%;
        padding: 5px;
        border: none;
        margin-right: 10px;
        background-color: black;
        color: white;
    }

    button {
        background-color: black;
        border: none;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }
}

.dropdown-search input[type="checkbox"]:checked ~ .dropdown-content-search {
    display: block;
}